// Buttons
@mixin hook-button() {
  border-radius: 3px;
  text-transform: uppercase;
}

@mixin hook-button-default() {
  box-shadow: 0 1px 2px fade-out(darken($button-default-background, 20%), 0.4);
  border: $button-border-width solid darken($button-default-background, 20%);
  background-image: linear-gradient(
    $button-default-background,
    darken($button-default-background, 5%)
  );
}

@mixin hook-button-default-hover() {
  border: $button-border-width solid darken($button-default-background, 20%);
  background-image: linear-gradient(
    darken($button-default-background, 5%),
    darken($button-default-background, 10%)
  );
}

@mixin hook-button-default-active() {
  border: $button-border-width solid darken($button-default-background, 20%);
  background-image: linear-gradient(
    darken($button-default-background, 15%),
    darken($button-default-background, 10%)
  );
}

@mixin hook-button-primary() {
  border: $button-border-width solid $button-primary-background;
  box-shadow: 0 1px 2px fade-out($button-primary-background, 0.4);
  background-image: linear-gradient(
    $button-primary-background,
    darken($button-primary-background, 5%)
  );
}

@mixin hook-button-primary-hover() {
  border: $button-border-width solid $button-primary-background;
  background-image: linear-gradient(
    lighten($button-primary-background, 5%),
    $button-primary-background
  );
}

@mixin hook-button-primary-active() {
  border: $button-border-width solid $button-primary-background;
  background-image: linear-gradient(
    darken($button-primary-background, 10%),
    darken($button-primary-background, 5%)
  );
}

@mixin hook-button-secondary() {
  border: $button-border-width solid $button-secondary-background;
  box-shadow: 0 1px 2px fade-out($button-secondary-background, 0.4);
  background-image: linear-gradient(
    $button-secondary-background,
    darken($button-secondary-background, 5%)
  );
}

@mixin hook-button-secondary-hover() {
  border: $button-border-width solid $button-secondary-background;
  background-image: linear-gradient(
    lighten($button-secondary-background, 5%),
    $button-secondary-background
  );
}

@mixin hook-button-secondary-active() {
  border: $button-border-width solid $button-secondary-background;
  background-image: linear-gradient(
    darken($button-secondary-background, 10%),
    darken($button-secondary-background, 5%)
  );
}

@mixin hook-button-disabled() {
  cursor: not-allowed;
  &.uk-button-default {
    background: #fff;
    color: fade-out(darken($button-default-background, 40%), 0.6);
    border: $button-border-width solid darken($button-default-background, 10%);
  }

  &.uk-button-primary {
    color: fade-out($button-primary-color, 0.6);
    background: lighten($button-primary-background, 5%);
    border: $button-border-width solid lighten($button-primary-background, 5%);
  }

  &.uk-button-secondary {
    color: fade-out($button-secondary-color, 0.6);
    background: lighten($button-secondary-background, 5%);
    border: $button-border-width solid lighten($button-secondary-background, 5%);
  }
}

.icon-button {
  cursor: pointer;

  &.uk-button {
    padding: 0;
    background: none;
  }

  &:hover svg path {
    fill: $icon-button-hover;
  }

  &:active svg path {
    fill: lighten($icon-button-hover, 10%);
  }
}
