@mixin hook-form-single-line() {
  height: unset;
  font-size: 16px;
  min-height: 60px;
  line-height: 60px;
  background: $white;
  border-radius: 3px;
  padding: 0 60px 0 20px;
  border: 2px solid transparent;

  &.input-box {
    border: none;
    padding: 0 20px;
    border-radius: 0;
    border-bottom: 1px solid $input-border-bottom;
  }

  &.search-bar {
    @include shadow();
  }

  &.multiline {
    resize: vertical;
    line-height: 60px;
    min-height: calc(100vh - 188px);

    @media (min-width: 30em) {
      min-height: 180px;
    }
  }
}

@mixin hook-form-focus() {
  color: #49c;
  background: $white;
  border: 2px solid $input-border-bottom-focus;

  &.input-box {
    border: none;
    background: $white;
    border-bottom: 1px solid $input-border-bottom-focus;
  }

  & + svg path {
    fill: $input-border-bottom-focus;
  }
}

.search-container {
  width: 100%;
  position: relative;

  .search-icon {
    top: 17px;
    right: 20px;
    position: absolute;

    path {
      fill: $input-border-bottom;
    }
  }
}
