.ReactModal__Overlay {
  opacity: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 250ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  &--after-open {
    opacity: 1;

    .ReactModal__Content {
      transform: translateY(0px);
    }
  }
  &--before-close {
    opacity: 0;

    .ReactModal__Content {
      transform: translateY(50px);
    }
  }
}

.ReactModal__Content {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: $white;
  box-sizing: border-box;
  @include shadow-large();
  transform: translateY(50px);
  transition: 250ms ease-in-out;

  @media (min-width: 64em) {
    margin-top: 20%;
    min-width: 20vw;
    min-height: unset;
    border-radius: 3px;
    transform: translateY(-50px);
  }
}

.modal-header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
}
