.container {
  padding: 0 20px;

  @media (min-width: 64em) {
    margin: 0 auto;
    max-width: 64em;
  }

  @media (min-width: 65em) {
    padding: 0;
  }

  &.full-width {
    padding: 0;

    @media (min-width: 65em) {
      padding: 0 20px;
    }
  }

  &.main-content {
    @media (min-width: 65em) {
      padding: 32px 20px;
    }
  }
}

.todo-container {
  margin: 32px 0 0;
  overflow: hidden;
  @include shadow();
  background: $white;
  border-radius: 3px;
}

@import 'appbar';
@import 'tabbar';
@import 'todolist';
