// App theme
@import 'theme';

// UIKit
@import 'uikit/src/scss/variables-theme.scss';
@import 'uikit/src/scss/mixins-theme.scss';

// Components
@import 'components/index.scss';

// Views
@import 'views/index.scss';

@import 'uikit/src/scss/uikit-theme.scss';

html {
  background: $white;
  @media (min-width: 30em) {
    background: #f5f5f5;
  }
}

body {
  padding: 64px 0 64px;
  box-sizing: border-box;

  @media (min-width: 64em) {
    margin: 0;
  }

  &.ReactModal__Body--open {
    overflow: hidden;
  }
}
