// App theme
@import 'theme';

// UIKit
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// Components
@import 'components/index.scss';

// Views
@import 'views/index.scss';

@import "uikit/src/scss/uikit-theme.scss";

body {
  padding: 84px 0;
  box-sizing: border-box;

  @media (min-width: 64em) {
    margin: 0;
  }
}
